@import '@/styles/library/colors.scss';
@import '@/styles/library/fonts.scss';
@import '@/styles/library/icons.scss';
@import '@/styles/library/utils.scss';
@import '@/styles/library/variables.scss';

// use this for font-weight:400
@font-face {
  font-family: 'PoppinsRegular';
  src: url('../assets/font/Poppins-Regular.ttf') format('truetype');
}

// use this for font-weight:500
@font-face {
  font-family: 'PoppinsMedium';
  src: url('../assets/font/Poppins-Medium.ttf') format('truetype');
}

// use this for font-weight:600
@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('../assets/font/Poppins-SemiBold.ttf') format('truetype');
}

// use this for font-weight:700 or font-weight:bold
@font-face {
  font-family: 'PoppinsBold';
  src: url('../assets/font/Poppins-Bold.ttf') format('truetype');
}

:root {
  font-family: 'PoppinsRegular';
  font-size: 16px;
  color: $primary-dark;
  --max-width: 1300px;
  --default-time: 200ms;
  --navigation-height: 56px;
}

* {
  &:focus {
    outline: none;
  }
}

html, body {
  margin: 0px;
  padding: 0px;
  display: flex;
  height: 100%;
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.footer {
  width: calc(100% - 96px);
}

//line separator
.separator {
  height: 0.5px;
  width: 100%;
  background-color: $border-color;
}

.brand {
  position: absolute;
  width: 148px;
  height: 43px;
  left: 72px;
  top: 13px;
  margin: 0px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: $primary-dark;
  }
}
.cursor-pointer {
  cursor: pointer;
}

*::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1023px) {
  .brand {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 13px;
    left: unset;
  }
}