$primary-dark: #2D2A2E;
$primary-main: #604ECD;
$primary-light: #F0F2F4;
$secondary-light: #FAFAFA;
$dark-hover: #444545;
$secondary-hover: #F8F8F8;
$support: #E6E6E6;
$disabled: #cec5c5;
$success: #299bee;
$declined: #ED1D24;
$confirmed: #3C9542;
$background: #FAFAFA;
$white: #FFFFFF;
$black: #000000;
$grey: #767477;;
$table-header: #F6F9FB;
$table-hover: #F5F5F5;
$icon-color: #666;
$border-color: #ebebeb;
$input-background: #F4F7FE;
$input-placeholder: #8F9BBA;
$primary-main-text: #575F6E;
$button-subtle-border: #E0E5F2;
$input-box-shadow: rgba(0, 122, 255, 0.3);
$error-box-shadow: rgba(237,47,41, 0.3);
$modal-overlay: rgba(0, 0, 0, 0.7);
$modal-box-shadow: rgba(0, 0, 0, 0.07);
$interviewer-card-overlay: rgba(0, 0, 0, 0.4);
$grey-border: rgba(118, 116, 119, 0.5);
$registered: #007aff;
$confirmed: #3c9542;
$dark-background: #181818;
$banner-gradiant: linear-gradient(rgba(251, 251, 255, 0) 79.36%, rgb(244, 244, 253));
$banner-background-light: #EDEBF9;
$banner-background-dark:#A59CE3;
:export {
  primaryMain: $primary-main;
  primaryDark: $primary-dark;
  primaryLight: $primary-light;
  inputBackground: $input-background;
}