$icon-ellipsis: url("~@/assets/icons/icon-ellipsis.svg");
$icon-hamburger: url("~@/assets/icons/icon-hamburger.svg");
$icon-github: url("~@/assets/icons/icon-social-github.svg");
$icon-linkedin: url("~@/assets/icons/icon-social-linkedin.svg");
$icon-instagram: url("~@/assets/icons/icon-social-instagram.svg");
$icon-mail: url("~@/assets/icons/icon-social-mail.svg");
$icon-twitter: url("~@/assets/icons/icon-social-twitter.svg");
$icon-youtube: url("~@/assets/icons/icon-social-youtube.svg");
$icon-telegram: url("~@/assets/icons/icon-social-telegram.svg");
$icon-discord: url("~@/assets/icons/icon-social-discord.svg");
$linkedin-color: url("~@/assets/icons/icon-linkedin-color.svg");
$icon-eye: url("~@/assets/icons/icon-eye.svg");
$icon-eye-slash: url("~@/assets/icons/icon-eye-slash.svg");
$icon-password-not-validated: url("~@/assets/icons/icon-password-not-validated.svg");
$icon-password-validated: url("~@/assets/icons/icon-password-validated.svg");
$icon-arrow-up: url("~@/assets/icons/icon-arrow-up.svg");
$icon-arrow-down: url("~@/assets/icons/icon-arrow-down.svg");
$icon-completion: url("~@/assets/icons/icon-complete.svg");
$icon-tooltip: url('~@/assets/icons/icon-tooltip.svg');
$icon-tooltip-disabled: url('~@/assets/icons/icon-tooltip-disabled.svg');
$icon-pwd-eye-slash: url('~@/assets/icons/icon-eye-slash.svg');
$icon-pwd-eye: url('~@/assets/icons/icon-eye.svg');
$icon-dd-arrow-up-grey: url('@/assets/icons/icon-dd-arrow-up-grey.svg');
$icon-dd-arrow-down-grey: url('@/assets/icons/icon-dd-arrow-down-grey.svg');
