$font-family: "Poppins", sans-serif;
$font-size-80: 80px;
$font-size-72: 72px;
$font-size-64: 64px;
$font-size-56: 56px;
$font-size-48: 3rem;
$font-size-40: 2.5rem;
$font-size-32: 2rem;
$font-size-24: 1.5rem;
$font-size-20: 20px;
$font-size-19: 19px;
$font-size-17: 17px;
$font-size-16: 16px;
$font-size-15: 15px;
$font-size-14: 14px;
$font-size-13: 13px;
$font-size-11: 11px;
$font-size-9: 9px;
$font-size-8: 8px;

$line-height-88: 88px;
$line-height-72: 72px;
$line-height-64: 64px;
$line-height-48: 1.25;
$line-height-42: 1.25;
$line-height-40: 40px;
$line-height-36: 36px;
$line-height-32: 32px;
$line-height-30: 30px;
$line-height-25: 25px;
$line-height-24: 32px;
$line-height-22: 22px;
$line-height-20: 20px;
$line-height-17: 17px;
$line-height-16: 25.6px;
$line-height-14: 22.4px;
$line-height-12: 12px;

$letter-spacing-30: -0.01em;
$letter-spacing-40: -0.04em;
$letter-spacing-28: -0.028em;
$letter-spacing-25: -0.025em;
$letter-spacing-2: -0.02em;


$standard-font-size: 14px;
$navbar-height: 60px;
$sidebar-width: 260px;
$sidebar-collapse-width: 70px;
$table-header-height: 60px;
$border-radius: 8px;